.menu{
    display:flex;
    font-size: 18px;
    color:rgb(6, 194, 122)
}

h1{
    color:rgb(13, 101, 201);
    font-size: 38px;
}

#currentpage{
    background-color: red;
}

.photo{
    height:100px;
}

.header{
    display:flex;
    align-items: center;
}

h0{
    color: rgb(16, 125, 248)
}